body {
    padding: 15px
}

.grow {
    flex: 1;
}

.main {
    overflow-y: auto;
}

.part {
  border: 1px solid #000;
  margin-top: 15px;
  padding: 5px;
  position: relative;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 10px
}

.partTitle {
  position: absolute;
  top: -10px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.recommendation {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.product-image {
  padding-left: 23px;
}

video, canvas {
  width: 100%;
}

.page-header {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding-left: 50px;
}

.back-button, .back-button a, .back-button a:hover {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 42px;
  font-weight: 200;
  text-decoration: none;
  color: initial;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #000;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* PAGE */

/*
body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
*/



.itinerary-summary-row {
    min-height: 50px;
    padding: .5em 0 .5em .7em;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-left: .3em solid #007ac9;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    font-family: Gotham XNarrow SSm A,Gotham XNarrow SSm B,Arial,Georgia,Serif;
    font-weight: 500;
    letter-spacing: 0;
    white-space: nowrap;
}


.cursor-pointer {
    cursor: pointer;
}

.itinerary-summary-row .itinerary-start-time {
    text-align: right;
    padding-left: 5px;
    min-width: 2em;
    font-family: Gotham XNarrow SSm A,Gotham XNarrow SSm B,Arial,Georgia,Serif;
    font-weight: 500;
    letter-spacing: 0;
    font-weight: 700;
}


.itinerary-summary-row .itinerary-start-time .itinerary-start-date {
    display: block;
    text-align: right;
    min-width: 2em;
    margin-top: -1px;
    margin-bottom: -2px;
    line-height: 1;
    font-family: Gotham XNarrow SSm A,Gotham XNarrow SSm B,Arial,Georgia,Serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: .72rem;
}

.itinerary-summary-row .itinerary-start-time .itinerary-start-date.nobg {
    height: .8em;
}

.itinerary-summary-row .itinerary-start-time .itinerary-start-date.nobg>span {
    background-color: transparent;
}


.itinerary-summary-row .itinerary-start-time .itinerary-start-date>span {
    line-height: 1;
    text-transform: capitalize;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: .25em .4em;
    color: #fff;
    background-color: #666;
    display: inline-block;
}


.itinerary-summary-row .itinerary-start-time .itinerary-first-leg-start-time {
    color: #7b7b7b;
    font-size: .87rem;
    margin-top: -6px;
    margin-right: -7px;
    font-weight: 700;
}


.itinerary-summary-row .itinerary-start-time .itinerary-start-date.nobg+.itinerary-first-leg-start-time {
    margin-top: -2px;
}



.itinerary-summary-row .itinerary-legs {
    padding-left: .7em;
    display: flex;
    white-space: nowrap;
    min-width: 0;
    flex: 1 1;
}

.itinerary-summary-row.passive {
    border-left-color: #eef1f3;
    background-color: #eef1f3;
}


.itinerary-summary-row .itinerary-legs .leg {
    padding-top: .4em;
    flex: 1 1;
    overflow: hidden;
    justify-content: center;
}



.itinerary-summary-row .itinerary-legs .leg .route-number {
    width: 100%;
}



.route-number.vertical, .route-number.vertical .vehicle-number {
    max-width: 100%;
}

.route-number {
    vertical-align: top;
    position: relative;
    display: inline-block;
    min-width: 64px;
}



.itinerary-summary-row .itinerary-legs .line {
    white-space: nowrap;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}

.itinerary-summary-row .itinerary-legs .vcenter-children {
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 1;
}



.rail {
    color: #8c4799;
}


.itinerary-summary-row .itinerary-legs div.bar-container {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
}



.itinerary-summary-row .itinerary-legs div.bar {
    width: calc(100% - 1px);
    z-index: -1;
    background-color: currentColor;
    border: 1px solid currentColor;
    height: 6px;
    border-width: 2px;
    border-radius: 3px;
}



.itinerary-summary-row .itinerary-legs div.bar .bar-inner {
    width: 100%;
    height: 2px;
    background-color: hsla(0,0%,100%,.25);
}


.route-number.vertical, .route-number.vertical .vehicle-number {
    max-width: 100%;
}

.itinerary-summary-row .itinerary-legs .vehicle-number {
    font-weight: 500;
    font-size: .92rem;
    padding: 0;
    min-width: 1.3em;
    margin-left: .4em;
    text-align: center;
}



.itinerary-summary-row .itinerary-end-time-and-distance {
    max-width: 4em;
}



.itinerary-summary-row .itinerary-end-time {
    padding-left: 10px;
    width: 3em;
    margin-top: .4em;
    font-weight: 700;
}



.itinerary-summary-row .itinerary-duration-and-distance {
    max-width: 4em;
    margin-top: .4em;
    margin-left: .7em;
}



.itinerary-summary-row .itinerary-duration {
    white-space: nowrap;
    font-weight: 700;
}



.itinerary-summary-row .itinerary-biking-distance, .itinerary-summary-row .itinerary-walking-distance {
    margin-top: -2px;
    color: #7b7b7b;
    font-weight: 400;
    font-size: .92rem;
}




.itinerary-summary-row .action-arrow-click-area {
    padding: .25em .3em;
    display: flex;
}




button.noborder {
    display: inline;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    background: none;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    font-family: inherit;
    position: relative;
    background-color: transparent;
    transition: none;
    color: inherit;
}



.itinerary-summary-row .action-arrow {
    display: flex;
    align-items: center;
    padding: .125em .125em 0;
    line-height: 1;
}












/* NEXT BATCH */














div.map {
    width: 100%;
    max-height: 100%;
    position: relative;
}

.sorting-points-map {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    position: relative;
}

.scrap-dealers-map {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    position: relative;
}

.accordionContent {
  padding: 22px;
}

.trashAmountPerTypeContainer {
 /*width: initial;*/
}

.trashAmountPerTypeInput {
 border: 1px solid black;
 width: 100px;
}


.hidden {
  display: none;
}

div.leaflet-container {
    position: absolute;
    flex: 1 1;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 2;
    font-family: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;
    font-weight: 400;
    letter-spacing: -.025em;
}
